body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.container {
    text-align: center;
}

#conditionButtons {
    margin-bottom: 20px;
}

.conditionButton {
    font-size: 16px;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.text {
    background-color: #d1e5f0; /* Muted blue */
    color: #000;
}

.pseudo-visual {
    background-color: #e0ece4; /* Muted green */
    color: #000;
}

.visual {
    background-color: #f9ebc1; /* Muted yellow */
    color: #000;
}

.modelButton {
    font-size: 14px;
    margin: 5px;
    padding: 8px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.modelButton:hover,
.selectedModel {
    background-color: #ddd;
}

.hidden {
    display: none;
}

#imageContainer {
    margin-top: 20px;
}
