body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.container {
    text-align: center;
}

#conditionButtons {
    margin-bottom: 20px;
}

.conditionButton {
    font-size: 16px;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: box-shadow 0.3s ease; /* Add a smooth transition */
}

.conditionButton.active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); /* Stronger box shadow for highlighting */
}

.modelButton {
    font-size: 14px;
    margin: 5px;
    padding: 8px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.modelButton:hover,
.selectedModel {
    background-color: #ddd;
}

.hidden {
    display: none;
}

#imageContainer {
    margin-top: 20px;
}
